.projecoes {
    display: flex;
    flex-direction: column;
}

.projecoes h3 {
    font-size: .5rem;
    color: #8B008B;
    letter-spacing: 2px;
}

.projecoes h3 span {
    font-size: .8rem;
    color: #8B008B;
    font-weight: bold;
    letter-spacing: 2px;
}

.projections-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    margin-bottom: 1rem;

}

.scrollable-tbody {
    display: block;
    height: 50vh;
    overflow-y: auto
}

.scrollable-tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.projecoes-possiveis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.projecoes-possiveis h3 {
    border-bottom: solid 1px #8B008B;
}

.load-more-button {
   padding: .2rem 1rem;
   border-radius: 10px;
   background-color: #8B008B;
   color: #fff;
   border: solid 1px #000;
    cursor: pointer;
}

.load-more-button:hover {
    background-color: #Ff00ff
}